- name: ensure python development library headers are installed
  apt: name=python-dev state=present
  sudo: yes

- name: ensure python setup-tools is installed
  apt: name=python-setuptools state=present
  sudo: yes

- name: ensure python pip is installed
  easy_install: name=pip
  sudo: yes

- name: upgrade pip
  pip: name=pip state=latest
  sudo: yes

- name: ensure python virtualenv is installed
  pip: name=virtualenv state=latest
  sudo: yes
